
a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #d9dcd6;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
}


/* Header */
header {
    display: flex;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    background-color:#364B8E;
    border:grey solid 5px; 
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    font-size: 45px;
    margin-right: 20px;
    
}

header img {
    max-width: 100px;
    max-height: auto;
    margin-left: 20px;
    margin-right: 45px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    margin-left: 50px;

}

header nav ul li {
    display: inline-block;
    margin: 5px;
}

/* About Me */

main section h2 {
    padding: 20px 20px 20px 0;
}

main section h3 {
    padding: 20px 20px 20px 0;
    
}

main section p {
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;

}

main section ul {
    margin: 0 0 0 50px;
    line-height: 1.5;
}

main section ul {
    font-size: 14px;
    font-weight: bolder;
    list-style-type: circle  /* adds circle bullets to list*/
    
} 


/* Work */
section {
    padding: 30px;
    font-size: 18px;
}

section figure p{
    padding: 20px 20px 20px 0px;
    color: black;
    text-align: left;
    font-weight: bolder;
    font-size: 18px;
}

#app_text {
    padding-left: 20px;
    font-size: 18px;
}

#main_image {  /* image for application 1*/ 
    width: 100%;
    height: 100%;
    padding: 20px;
    
}

#main_image p {
    padding: 20px 20px 0 0;
}

img {
    width:300px;
    height: auto;
    
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    
}

#click_app {
    padding-left: 20px;
    padding-top: 10px;
    font-style: italic;
}

footer {
    background-color: #364B8E;
    border:grey solid 5px;
    padding: 20px;
    text-align: center;
}

footer h4 {
    font-size: 14px;
}

.contact_info {
    padding: 20px;
    min-width: 100px;
}

.contact_info a {
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
}


@media screen and (max-width: 700px){
        
    #main_image {
        width:699x;
        height: 250px;
    }

    header h1 {
        font-size: 25px;
        
    }
    header img {
        max-width: 50px;
        max-height: 50px;
    }

    header nav ul li {
        margin: 5px;
        text-align: center;
    }

    }

    
@media screen and (max-width: 380px){
        
    #main_image {
        min-width:200px;
        height: 150px;
    }

    header h1 {
        font-size: 20px;
        
    }
    header img {
        max-width: 25px;
        max-height: 25px;
    }

    header nav ul li {
        margin: 5px;
        text-align: center;
        font-size: 15px;
    }

    }

